<section class="bg-secondary">
    <div class=" container-fluid">
        <div class="section ">

            <div class="l-section col-3  bg-dark ">
                <div class="search-bar ">
                    <input type="text" class="my-2"
                        style="text-decoration:none;width:100%;text-align:center;height:40px; border-radius:20px;border:2px solid rgb(71, 71, 71) ;"
                        placeholder="search" name="search">
                </div>
                <a class="btn btn-dark my-2 " style="font-size: 30px; background-color:rgb(71, 71, 71);width:100%;" href="/add-journal" role="button">
                + new
                </a>
            </div>
            <div class="r-section col-9 bg-light">
                <div class="date my-3"> April</div>
                <div class="data-list list-group">
                    <li class="list-group-items">
                        <div class="daily-title">day 1</div>
                        <div class="daily-desc">this is good day with worst time</div>
                    </li>
                    <li class="list-group-items">
                        <div class="daily-title">day 1</div>
                        <div class="daily-desc">this is good day with worst time</div>
                    </li>
                    <li class="list-group-items">
                        <div class="daily-title">day 1</div>
                        <div class="daily-desc">this is good day with worst time</div>
                    </li>
                    <li class="list-group-items">
                        <div class="daily-title">day 1</div>
                        <div class="daily-desc">this is good day with worst time</div>
                    </li>
                    <li class="list-group-items">
                        <div class="daily-title">day 1</div>
                        <div class="daily-desc">this is good day with worst time</div>
                    </li>

                </div>
            </div>


        </div>

    </div>
</section>